

<div id="content">
<h2>Welcome to August9</h2>
<p>
This is the projects list view
</p>
</div>

<!-- Templates -->
	<a href='#project/{{ id }}'>{{ projectname }}</a>
	<p>Email: {{email}}</p>



    
    <div class="form-right-col">
       <!-- <img height="300" src="../pics/{{ picture }}"/>-->
        <label>Notes:</label>
        <textarea id="description" name="description">{{ description }}</textarea>
    </div>

