

<div id="mainContent">
	<h2>Welcome to August9</h2>

</div>

<!-- Templates -->
	<!--<a href='#project/{{ id }}'>{{ projectname }}</a>
	<p>Email: {{email}}</p>-->



    
    <div id="description">
       <!-- <img height="300" src="../pics/{{ picture }}"/>-->
       <!-- <label>About:</label>-->
        <!--<textarea id="description" name="description">{{ description }}</textarea>-->
    </div>

