<a href="#/project/{{id}}">

	<div id="" class="homeItem col-xs-11 col-sm-6 col-md-4 ">
		<h3> {{projectname}}</h3>
		{{#if imglarge}}
			<img src="./media/images/{{imglarge}}" alt="{{imgAlt}}"/>
		{{else}}
			<img src="./media/images/tre.jpg" alt="Et flott eiketre på toppen av en åskam"/>
		{{/if}}
		
	</div>
</a>