<a href="#/project/{{id}}">
	<div id="" class="homeItem col-xs-11 col-sm-6 col-md-4">
		{{#if imgThumb}}
			<img src="{{image}}" alt="{{imgAlt}}"/>
		{{else}}
			<img src="https://pjsf6h1tr94v.firesize.com/media/images/tre.jpg" alt="Et flott eiketre på toppen av en åskam"/>
		{{/if}}
		<h3> {{projectname}}</h3>
	</div>
</a>