
<section class="">
	<a href="#/project/{{id}}">
			<div id="" class="imgCrop">
				{{#if imglarge}}
					<img src="{{imglarge}}" alt="{{imgAlt}}"/>
				{{else}}
					<img src="./media/images/summer.jpg" alt="Sommereng i solnedgang"/>	
				{{/if}}
			</div>
			<header  class="homeItemHeader">
			<h4> {{projectname}}</h4>
		</header>
		</a>
	<div id="" class="projectInfo">
		<p>{{about}}</p>
	</div>
</section>
<aside class="featuredSong">
	<label class="col-m-12">Featured song</label>
	<span class="col-xs-1 listPlayer glyphicon glyphicon-play-circle">
	</span>
	<div class="title col-xs-8 col-xs-offset-1"><a href="#/project/{{projectid}}/song/{{id}}">{{featuredSong}}</a> 
	</div>
</aside>

