<div class="row">
	<div class="col-sm-12"><a href="#/project/{{id}}"><p><img src="./media/images/{{imgthumb}}">{{projectname}}</p></a></div>
</div>
<div class="row">
	<div class="col-sm-4">
		<a class="admin hidden" href="#/project/{{id}}/edit">   <button type="button" class="btn btn-xs" >Edit</button></a>
	</div>
	<div class="col-sm-4">
		<a class="admin hidden" href="#/project/{{id}}/delete"> <button type="button" class="btn btn-xs" >Delete</button></a>
	</div>
	<div class="col-sm-5">
		<a class="admin hidden" href="#/project/{{id}}/newSong"><button type="button" class="btn btn-xs" >New song</button></a>
	</div>
</div>



