
	{{!-- <h3>ProjectInfo</h3> --}}
	<div class="projectInfoCrop">
		<img src="{{imglarge}}"/>
	</div>
	<h2>{{projectname}}</h2>
	<ul id="" class="details">
		<span class="hidden-pad">
			<li class="email">Email: {{email}}</li>
			<li class="email">Influence: {{influence}}</li>
			<li class="email">Participator: {{participator}}</li>
			<li class="email">Participator role: {{participatorRole}}</li>
		</span>
		<li class="about moveRight-pad">"{{about}}"</li>
	</ul>

	
