<div class="row">
	<div class="col-sm-12">
		<a href="#/project/{{id}}">
			<div id="" class="projectImgCrop">
				<img src="./media/images/{{imgthumb}}"/>
			</div>
			<p>{{projectname}}</p>
		</a>
	</div>
</div>
<div class="row">
	<div class="editButtons col-sm-4">
		<a class="admin hidden" href="#/project/{{id}}/edit">   <button type="button" class="btn btn-xs" >Edit </button></a>
	</div>
	<div class="editButtons col-sm-4">
		<a class="admin hidden" href="#/project/{{id}}/delete"> <button type="button" class="btn btn-xs" >Del</button></a>
	</div>
	<div class="editButtons col-sm-4">
		<a class="admin hidden" href="#/project/{{id}}/newSong"><button type="button" class="btn btn-xs" >New song</button></a>
	</div>
</div>



