
	{{!-- <h3>ProjectInfo</h3> --}}
	<h4>{{title}}</h4>
	<ul id="" class="details">
		<li class="added">Date:{{added}}</li>
		<li class="productionstatus">Productionstatus:{{productionstatus}}</li>
		<li class="chorustime">Chorus time:{{chorustime}}</li>
		<li class="participators">Participator id:{{participators}}</li>
		<li class="influence">Influence:{{influence}}</li>
	</ul>
