<div id="info">
	<img src="./media/images/{{imglarge}}" alt="{{imgAlt}}"/>
	<div id="infoContainer" class="">
		<div id="songTitle">{{title}}</div>
	</div>
</div>

<div id="volume" class=""></div>
<div id="queue" class=""></div>

{{!-- <div class="row">
	<div class="col-xs-1  ">
		<a href="#/project/{{projectid}}/song/{{id}}/play">
 			<button type="button" class="btn btn-xs">Play</button>
		</a>
	</div>
	<div class="col-xs-8 col-xs-offset-1"><a href="#/project/{{projectid}}/song/{{id}}">{{ title}}</a> 
	</div>


	<div class="col-xs-1 ">
		<a class="admin hidden" href="#/project/{{projectid}} /song/{{id}}/edit">  
			<button type="button" class="btn btn-xs" >Edit</button>
		</a>
	</div>
	<div class="col-xs-1 ">
		<a class="admin hidden" href="#/project/{{projectid}}/song/{{id}}/delete">
			<button type="button" class="btn btn-xs" >Delete</button>
		</a>
	</div>
</div>
 --}}



